.mod-navbar {
  position: sticky;
  top: -1px;
  z-index: 10;

  &.bg-color {
    background-color: $shadow;
    // background-color: #AD310B;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
  }

  &.bg-color-white {
    background-color: white;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
  }

  .logo-white {
    width: 100px;
  }

  li {
    padding: 5px 0;
  }
  .navbar-toggler {
    background-color: $blue;
  }
}

// @media (min-width: $md) {
//   .mod-navbar {
//     .logo-white {
//       width: 50px;
//     }
//   }
// }

// @media (min-width: $lg) {
//   .mod-navbar {
//     .logo-white {
//       width: 100px;
//     }
//   }
// }

// @media (min-width: $xl) {
//   .mod-navbar {
//     .logo-white {
//       width: 100px;
//     }
//   }
// }
